* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared section starts here  */
.gradiant-color {
  background: linear-gradient(40deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
.font-color {
  background-image: linear-gradient(
    40deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  background-clip: text;
  color: transparent;
}
.btns {
  color: #ffffff;
  border: none;
  padding: 16px 12px;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* header section starts here  */
.navbar {
  background-color: #1a0b2e;
}
.navlist {
  list-style: none;
  display: flex;
  gap: 32px;
  color: white;
}
