* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared section starts here  */
.gradiant-color {
  background: linear-gradient(40deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
.font-color {
  background-image: linear-gradient(
    40deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  background-clip: text;
  color: transparent;
}
.btns {
  color: #ffffff;
  border: none;
  padding: 8px 30px;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* header section starts here  */
.navbar {
  background-color: #1a0b2e;
  padding: 14px;
}
.line {
  color: rgb(48, 48, 48);
}
.line2 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgb(48, 48, 48);
}
.navlist {
  list-style: none;
  display: flex;
  gap: 32px;
  color: white;
}
.main-header {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 780px;
}
.text-center {
  position: relative;
}
.circle-img {
  position: absolute;
  top: 100px;
  left: 40%;
}
.mic-img {
  position: absolute;
  top: 180px;
  left: 46%;
}

.header-content {
  top: 520px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}
.header-content > p {
  color: #fffafa;
  margin-top: 10px;
}
.btn-group {
  margin-top: 20px;
}
.new-btn {
  background-color: transparent;
  border: 1px solid #00ff88;
  padding: 7px 30px;
  color: #00ff88;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}
.btn-img {
  width: 18px;
  height: 18px;
}
.btn-img2 {
  width: 15px;
  height: 12px;
}
.badge {
  position: absolute;
  top: 100px;
  left: 53%;
  padding: 10px 20px;
  border-radius: 30px;
  animation: vertical-shaking 0.6s infinite;
  cursor: pointer;
}
@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* About section starts here  */
.about {
  background-color: #1a0b2e;
  height: 646px;
}
.about-content {
  width: 60%;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-content > p {
  color: #c4c4c4;
  line-height: 2;
  margin-top: 16px;
}
.rating-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.rating-content > h1 {
  color: #00ff88;
  margin-bottom: 10px;
}
.rating-content > p {
  color: #c4c4c4;
}

/* questing starts here  */
.choosing-question {
  background-color: #230e3d;
}
.question-content {
  width: 60%;
  margin: 0px auto;
  height: 1121px;
  padding-top: 120px;
}
#layout {
  margin-top: 40px;
}
.card {
  padding: 30px;
  background-color: rgba(53, 17, 101, 0.4);
  display: grid;
  place-content: center;
}
.card > h4 {
  margin-top: 16px;
  margin-bottom: 16px;
}
/* explore section starts here  */
.explore {
  background-color: #1a0b2e;
}

.feature {
  width: 60%;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.yt-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}
.yt-card {
  width: 380px;
  height: 480px;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.yt-card > iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.yt-card > h2 {
  margin-top: 20px;
  margin-bottom: 12px;
  padding: 10px;
}
.yt-card > p {
  padding: 10px;
}
.time-badge {
  display: flex;
  gap: 14px;
  padding: 10px;
}
.time-badge > img {
  width: 20px;
  height: 20px;
}
.time-badge > p {
  color: #00ff88;
}
