* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared section starts here  */

.font-color {
  background-image: linear-gradient(
    40deg,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  background-clip: text;
  color: transparent;
}
.btns {
  color: #ffffff;
  border: none;
  padding: 8px 30px;
  border-radius: 60px;
  cursor: pointer;
  background: linear-gradient(40deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}

.btns:hover {
  color: black;
  transition: background-color 0.6s ease;
}

/* header section starts here  */
.navbar {
  background-color: #1a0b2e;
  padding: 14px;
}

.hamburger {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}
.line {
  color: rgb(48, 48, 48);
}
.line2 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: rgb(48, 48, 48);
}
.navlist {
  list-style: none;
  display: flex;
  gap: 32px;
  color: white;
}
.navlist > li :hover {
  color: #00ff88;
  transition: color 0.3s ease;
}
.main-header {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 780px;
}

.circle-img {
  position: relative;
  top: 100px;
  left: 40%;
  height: auto;
  transform: translateX(3%);
}
.mic-img {
  position: absolute;
  top: 250px;
  left: 46%;
  height: auto;
  transform: translateX(7%);
}

.header-content {
  top: 520px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}
.header-content > p {
  color: #fffafa;
  margin-top: 10px;
}
.btn-group {
  margin-top: 20px;
}
.new-btn {
  background-color: transparent;
  border: 1px solid #00ff88;
  padding: 7px 30px;
  color: #00ff88;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 20px;
}
.new-btn:hover {
  background: #262726;
  color: white;
  transition: background-color 0.3s ease;
}
.btn-img {
  width: 18px;
  height: 18px;
}
.btn-img2 {
  width: 15px;
  height: 12px;
}
.badge {
  position: absolute;
  top: 160px;
  left: 53%;
  padding: 10px 20px;
  border-radius: 30px;
  animation: vertical-shaking 0.6s infinite;
  cursor: pointer;
}
@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

/* About section starts here  */
.about {
  background-color: #1a0b2e;
  height: 646px;
}
.about-content {
  width: 60%;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-content > p {
  color: #c4c4c4;
  line-height: 2;
  margin-top: 16px;
}
.rating-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.rating-content > h1 {
  color: #00ff88;
  margin-bottom: 10px;
}
.rating-content > p {
  color: #c4c4c4;
}

/* questing starts here  */
.choosing-question {
  background-color: #230e3d;
}
.question-content {
  width: 60%;
  margin: 0px auto;
  height: 1121px;
  padding-top: 120px;
}
#layout {
  margin-top: 40px;
}
.card {
  padding: 30px;
  background-color: rgba(53, 17, 101, 0.4);
  display: grid;
  place-content: center;
}
.card > h4 {
  margin-top: 16px;
  margin-bottom: 16px;
}
/* explore section starts here  */
.explore {
  background-color: #1a0b2e;
  height: 1276px;
}

.feature {
  max-width: 60%;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.yt-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}
.yt-card {
  width: 380px;
  height: 480px;
  border-radius: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: rgba(53, 17, 101, 0.4);
}
.yt-card > iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.yt-card > h2 {
  margin-top: 20px;
  margin-bottom: 12px;
  padding: 10px;
}
.yt-card > p {
  padding: 10px;
}
.time-badge {
  display: flex;
  gap: 14px;
  padding: 10px;
}
.time-badge > img {
  width: 20px;
  height: 20px;
}
.time-badge > p {
  color: #00ff88;
}
/* host card starts here  */
.host-card {
  background-color: rgba(53, 17, 101, 0.4);
  display: flex;
  padding: 20px;
  margin-top: 40px;
  border-radius: 20px;
  gap: 24px;
  max-width: 100%;
}

.social-links {
  display: flex;
  margin-top: 16px;
  gap: 8px;
}
.social-links > img {
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.social-links > img:hover {
  background-color: #9688a8;
  transition: background-color 0.9s ease;
}
.host-content > h2 {
  margin-bottom: 16px;
}
/* footer sections starts here  */
.footer {
  background-image: url(./assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 32px;
  cursor: pointer;
}
.footer-social {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.footer-content {
  width: 544px;
  margin: 0px auto;
  padding-top: 200px;
}
.footer-links > p {
  color: #c4c4c4;
  font-size: 1rem;
}
.footer-links > p:hover {
  color: #00ff88;
  transition: color 0.3s ease;
}
.footer-text {
  margin-top: 32px;
}

/* Responsive parts starts from here  */
@media (max-width: 576px) {
  /* header part  */
  .header-content {
    position: static;
    transform: none;
    margin: 0 auto;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navlist {
    display: none;
  }
  .head-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .header-content > h1 {
    padding-top: 150px;
  }
  .badge {
    top: 160px;
    left: 70%;
    padding: 10px 20px;
    border-radius: 30px;
    animation: vertical-shaking 0.6s infinite;
  }
  .main-header {
    min-height: 60vh;
    background: url("./assets/hero-bg.png") center / cover no-repeat;
  }
  .text-center {
    position: static;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 10px auto;
  }
  .yt-card {
    width: 100%;
    height: auto;
  }
  .circle-img {
    transform: translateX(-40%);
    width: 65%;
  }
  .mic-img {
    height: 100px;
    transform: translateX(-50%);
    width: 100px;
  }
  /* about section starts here  */
  .about {
    height: auto;
  }
  .about-content > h1 {
    font-size: 2rem;
  }
  .rating-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .rating-content > h1 {
    font-size: 2.2rem;
  }
  /* explore section starts  */
  .explore {
    height: auto;
    padding-bottom: 40px;
  }
  .yt-card {
    width: 100%;
  }
  .yt-card > iframe {
    width: 100%;
  }

  /* question section  */

  .question-content {
    height: auto;
  }
  .question-content > h1 {
    font-size: 1.6rem;
  }

  /* featured section  */
  .feature {
    height: auto;
    width: 100%;
    margin: 0px auto;
  }
  .feature > h1 {
    font-size: 2rem;
    text-align: center;
  }
  .yt-cards {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
  }

  /* host section  */
  .host-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    margin-top: 32px;
  }
  .host {
    height: auto;
  }

  /* footer section starts  */
  .footer {
    height: auto;
    padding-bottom: 40px;
    width: 100%;
    min-height: 60vh;
    background: url("./assets/footer-bg.png") cover no-repeat;
  }
  .footer-content {
    width: 80%;
  }
  .footer-content > h1 {
    font-size: 2.5rem;
  }
  .social-links {
    align-items: center;
    justify-content: center;
  }
  .host-content {
    text-align: center;
  }
  .footer-social {
    flex-direction: column;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navlist {
    display: none;
  }
  .head-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .main-header {
    min-height: 60vh;
    background: url("./assets/hero-bg.png") cover no-repeat;
  }
  .text-center {
    position: static;
  }
  .header-content {
    position: static;
    transform: none;
    margin: 0 auto;
  }
  .badge {
    top: 160px;
    left: 70%;
    padding: 10px 20px;
    border-radius: 30px;
    animation: vertical-shaking 0.6s infinite;
  }
  .circle-img {
    transform: translateX(-20%);
  }
  .mic-img {
    height: auto;
    transform: translateX(-20%);
  }
  .header-content > h1 {
    padding-top: 150px;
  }
  .mic-img {
    transform: translateX(-20%);
  }
  /* about section starts here  */
  .about {
    height: auto;
  }
  .about-content > h1 {
    font-size: 2rem;
  }
  .rating-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .rating-content > h1 {
    font-size: 2.2rem;
  }
  /* explore section starts  */
  .explore {
    height: auto;
    padding-bottom: 40px;
  }

  /* question section  */

  .question-content {
    height: auto;
  }
  .question-content > h1 {
    font-size: 1.6rem;
  }

  /* featured section  */
  .feature {
    height: auto;
    width: 100%;
    margin: 0px auto;
  }
  .feature > h1 {
    font-size: 2rem;
    text-align: center;
  }
  .yt-cards {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
  }

  /* host section  */
  .host-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    margin-top: 32px;
  }
  .host {
    height: auto;
  }

  /* footer section starts  */
  .footer {
    height: auto;
    padding-bottom: 40px;
    width: 100%;
  }
  .social-links {
    align-items: center;
    justify-content: center;
  }
  .host-content {
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navlist {
    display: none;
  }
  .head-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .main-header {
    min-height: 60vh;
    background: url("./assets/hero-bg.png") cover no-repeat;
  }
  .text-center {
    position: static;
  }
  .header-content {
    position: static;
    transform: none;
    margin: 0 auto;
  }
  .circle-img {
    transform: translateX(-20%);
  }
  .mic-img {
    height: auto;
    transform: translateX(-20%);
  }
  .header-content > h1 {
    padding-top: 150px;
  }
  .mic-img {
    transform: translateX(-20%);
  }
  /* about section starts here  */
  .about {
    height: auto;
  }
  .about-content > h1 {
    font-size: 2rem;
  }
  .rating-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .rating-content > h1 {
    font-size: 2.2rem;
  }
  /* explore section starts  */
  .explore {
    height: auto;
    padding-bottom: 40px;
  }

  /* question section  */

  .question-content {
    height: auto;
  }
  .question-content > h1 {
    font-size: 1.6rem;
  }

  /* featured section  */
  .feature {
    height: auto;
    width: 100%;
    margin: 0px auto;
  }
  .feature > h1 {
    font-size: 2rem;
    text-align: center;
  }
  .yt-cards {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
  }

  /* host section  */
  .host-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    margin-top: 32px;
  }
  .host {
    height: auto;
  }

  /* footer section starts  */
  .footer {
    height: auto;
    padding-bottom: 40px;
    width: 100%;
  }
  .social-links {
    align-items: center;
    justify-content: center;
  }
  .host-content {
    text-align: center;
  }
}
